<!--Шрифты на все страницы-->

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/inter-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/inter-700.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/inter-900.woff2") format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1170px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  flex-grow: 1;
}


.header-container {
  width: 1170px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.catalog-header-container {
  margin-bottom: 32px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 575px;
  padding: 24px 0;
}

.navigation-list {
  display: flex;
  width: 422px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation-link {

  line-height: 20px;
  font-size: 16px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
}

.navigation-link-current {
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
}

.navigation-item {
  padding: 8px 16px;
  list-style-type: none;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  gap: 16px;
  width: 431px;
}

.phone-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.navigation-link-button {
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  background-color: rgba(252, 252, 252, 0.3);
  color: #2D3440;
  text-decoration: none;
  border-radius: 30px;

  padding: 6px 16px;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.selection-container {
  width: 1170px;
}

.path-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.path-link-current {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: underline;
}

.slider-cards {
  margin: 0;
  padding: 0;
}

.slider-card {
  display: flex;
  align-items: center;
  margin-left: 70px;

}

.slider-image-inactive {
  width: 66px;
  height: 150px;
  margin-right: 75px;
}

.slider-image-inactive:last-child {
  margin-right: 0;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  text-align: left;
  margin: 0;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-bottom: 24px;
}

.slider-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 41px;
}

.slider-button {
  border-radius: 26px;
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.3);
}

.slider-next {
  margin-right: 54px;
}

.selection .button-white {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background-color: #FCFCFC;
  text-decoration: none;
  border-radius: 26px;


  max-width: 140px;
  padding: 12px 32px;
}

.button-filter {
  display: flex;
  align-items: flex-end;
  padding: 0;
  min-height: 36px;
  width: 190px;
}


.button-white {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  text-align: center;
  color: #2D3440;
  background-color: #FCFCFC;
  text-decoration: none;
  border-radius: 26px;
}

.button-red {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
  text-align: center;
  text-decoration: none;
  background-color: #FF2F64;
}

.button-red-small {
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 26px;
}

.gifts {
  width: 1170px;
  margin-bottom: 80px;
}

.gifts-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1170px;
  margin: 0;
  margin-top: 55px;
  padding: 0;
  gap: 30px;
}


.gift-card {
  background-color: #FF7799;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  isolation: isolate;
  height: 268px;
  border-radius: 8px;
}


.gift-card-text {
  display: flex;
  flex-direction: column;
  margin: 36px 0 36px 0;
  gap: 28px;
  width: 351px;
}

.gifts-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-top: 80px;
  padding-left: 36px;
}

.gift-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-left: 36px;

}

.gift-card p {
  text-align: left;
  margin: 0;
  padding-left: 36px;
}

.want-gift-button {
  width: 112px;
  border-radius: 26px;
  margin-left: 36px;
  padding: 12px 32px;
}

.popular-tastes {
  margin-bottom: 80px;
}

.popular-tastes h2 {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 56px;
}

.tastes-container {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  list-style-type: none;
}

.tastes-card {
  background-color: #FCFCFC;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.tastes-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.tastes-image {
  border-radius: 90px;
}

.price-buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  margin-top: 16px;
}

.tastes-card p {
  text-align: center;
  color: #565C66;
  margin-top: 8px;
}

.tastes-card b {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.about {
  width: 1170px;
  background-image: url(../images/waffle-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 80px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 24px;
  padding: 56px 40px;
  max-width: 1122px;
  background-color: #ffffff;
  border-radius: 16px;
}

.about h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
}

.about-items {
  width: 1042px;
  display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 26px;
    grid-row-gap: 40px;
  margin: 0;
  padding: 0;
  margin-top: 56px;
  list-style-type: none;
}

.about-list-item {
  max-width: 505px;
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 6px;
}

.about-list-item p {
  color: #565C66;
  margin: 0;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 1170px;
  max-height: 224px;;

  margin: 0 auto;
  margin-top: 80px;
  padding: 0;

}

.blog-card {
  background-image: url(../images/blog-bg.png);
  background-repeat: no-repeat;
  max-width: 570px;
  padding: 33px 235px 68px 32px;
  margin: 0;
  align-self: stretch;
  border-radius: 16px;
}

.blog-card p {
  line-height: 20px;
  color: #565C66;
  margin: 0;
}

.blog-card h3 {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 68px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}

.subscription-container {
  background-image: url(../images/mail-bg.png);
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-self: stretch;
  max-width: 570px;
  padding: 6px;
  border-radius: 16px;
}

.subscription-text {
  background-color: #FFFFFF;
  padding: 26px;
  border-radius: 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
}

.subscription-text p {
  color: #565C66;
  margin: 0;
}



.delivery {
  background-image: url(../images/delivery-bg.png);
  background-repeat: no-repeat;
  width: 1170px;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 16px;
}

.delivery-container {
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 135px;
}

.delivery-card {
  padding: 167px 0 163px 100px;
}


.delivery-card-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

}

.delivery-card p {
  color: #565C66;
  margin: 0;
}

.order-container {
  max-width: 500px;
  padding: 40px;
  margin-right: 64px;
  justify-self: center;
}

.order-card {
  background-color: #FCFCFC;
  border-radius: 8px;

}

.order-card p {
  color: #565C66;
}

.order-card label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.contacts {
  background-image: url(../images/contacts-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  padding: 64px;
  padding-right: 763px;
  border-radius: 16px;
}

.contacts-card {
  background-color: #FCFCFC;
  max-width: 343px;
  padding: 40px;
  border-radius: 8px;
}

.contacts-card p {
  color: #565C66;
}

p.address-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.phone-link-address {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.useful-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  text-align: center;
  gap: 24px 8px;
}

.logos p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

}

.logos {
  margin: 48px 14px 48px 0;
}

.logos a {
  text-decoration: none;
  color: #2D3440;
}

.catalog-page-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-products {
  margin-bottom: 44px;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  max-width: 830px;
  gap: 16px;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.filter-row-upper {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.filter-row-lower {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.filter-sort {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 8px;
}

.filter-price {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 8px;

}

.filter-fat {
  width: 385px;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.filter-filling {
  width: 605px;
  gap: 8px;
}

.radio-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 10px 24px;
  padding: 0;
  list-style-type: none;
}


.pagination-link {
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.pagination-current {
  background-color: #FCFCFC;
}

.footer-container {
  width: 1170px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-self: baseline;
  list-style-type: none;
  gap: 16px;
}

.button-social {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  width: 356px;
  margin: 48px 200px 57px auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-header {
  margin-bottom: 16px;
}

.nav-container {
  display: flex;
  list-style-type: none;
  width: 335px;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
}


.cards-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 41px;
  margin: 0 auto;

}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  width: 168px;
  padding: 0;
  gap: 8px;
}

.pages-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.slider-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-pagination-button-current {
  background-color: #FCFCFC;
}


.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 44px;
}

.pagination-show-more {
  width: 180px;
  height: 44px;
  margin-right: 335px;
  margin-left: 490px;
  padding: 0;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.4);
}

.card-content {
  width: 190px;
}
